In [ ]:
# print is used to see some answers 
# in jupyter there is no need to provide print statement in order to see answers
# if more than two answers are there we can check all answers using print statement

In [1]:
a=10
a

10

In [2]:
print(a)

10

In [3]:
a=10
b=20
a
b

20

In [4]:
print(a)
print(b)

10
20

In [5]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [6]:
num1=10
num2=30
add=num1+num2
print(add)

40

In [7]:
num1=10
num2=30
add=num1+num2
print("the addition of num1 and num2 is",add)

the addition of num1 and num2 is 40

In [8]:
print("the addition of",num1,"and",num2,"is",add)

the addition of 10 and 30 is 40

In [11]:
name='python'
age=10
city='hyd'
# hello my name is python,i'm 10 years old from hyd

print("hello my name is",name,"im",age,"years old from",city)

hello my name is python im 10 years old from hyd

# format method

In [12]:
num1=10
num2=30
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 10 and 30 is 40

In [14]:
name='python'
age=10
city='hyd'
print("hello my name is {},i'm {} years old from {}".format(name,age,city))

hello my name is python,i'm 10 years old from hyd

In [18]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print("the average of {}, {} and {} is {}".format(num1,num2,num3,avg))

the average of 100, 200 and 300 is 200.0

# round

In [20]:
val=125.345677
round(val)

125

In [22]:
val=125.345677
round(val,1)

125.3

# f string method

In [35]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print(f"the average of {num1}, {num2} and {num3} is {avg}")
round(avg)

the average of 100, 200 and 300 is 200.0

200

In [34]:
a=12
b=100
c=150
avg=(a+b+c)/3
print(avg)
round(avg)

87.33333333333333

87

- variables should be inside the curly braces
- write the variables inside the quotes

## end operator

In [37]:
print('hello',end=' ')
print('good morning')

hello good morning

In [38]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

# separator operator

- one print statement only
- inside one print statement we have multiple values 
- i want to separate these multiple values with anything

In [41]:
print("hello","AI",sep=" ")

hello AI

In [43]:
print("sr",187,sep=" ")

sr 187

- format
- f
- end
  - multiple print statements 
- sep
  - single print,multiple values

In [46]:
print(1,2,3,".",sep=" ")

1 2 3 .

In [4]:
print(1,2,end=" ")
print(3,'.',sep="")

1 2 3.